<div class="container" style="text-align:center;">
  <h1>Edit payment</h1>
  <br>
  <h2>Weekly payment for <%= @loanee.user.full_name%> is <strong style="color:red;">$<%= (@loanee.total / @loanee.loan.weeks).round(2) %></strong></h2>
  <%= render 'form', loanee:@loanee%>
    <%= link_to profile_path(@loanee.user.profile) do%>
    <p style="text-align:left;"><i class="fas fa-long-arrow-alt-left"></i></p>
  <% end %>
</div>
