<div class="container">
  <h1>Weekly Payment</h1>
  <% @weekly_payments.each do |weekly_payment|%>
  <p><%= weekly_payment.loanee.user.full_name %></p>
  <p><%= weekly_payment.created_at %></p>
  <p>$ <%= weekly_payment.amount %></p>
  <% end %>
  <%= link_to profile_path(@weekly_payments.first.loanee.user.profile) do%>
    <p><i class="fas fa-undo"></i></p>
  <% end %>
</div>
