<div class="container">
 <h1>Hello <%= @user.first_name%>!</h1>
 <p>Your nextpaymet is sheculed on: <%= render 'next_payment', user:@user, payments_amount:@payments_amount%></p>
  <%= render 'chart', user:@user%>
</div>
