<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div class="container">
  <h1>Hello <%@user.first_name%>!</h1>
  <%# <canvas id="myChart"></canvas> %>
  <canvas id="myPaymentChart"></canvas>
</div>
<script>
  const DATA_COUNT = 2;
  // const NUMBER_CFG = {count: DATA_COUNT, min: 0, max: 100};

  const data = {
    labels: ['Paid-off', 'Remaining'],
    datasets: [
      {
        label: 'Dataset 1',
        data: <%= @data%>,
        backgroundColor: Object.values(Utils.CHART_COLORS),
      }
    ]
  };
  const config = {
    type: 'doughnut',
    data: data,
    options: {
      responsive: true,
      plugins: {
        legend: {
          position: 'top',
        },
        title: {
          display: true,
          text: 'Chart.js Doughnut Chart'
        }
      }
    },
  };

      // const labels = [
      //   'January',
      //   'February',
      //   'March',
      //   'April',
      //   'May',
      //   'June',
      // ];
      // const data = {
      //   labels: labels,
      //   datasets: [{
      //     label: 'Weekly Payment',
      //     backgroundColor: 'rgb(255, 99, 132)',
      //     borderColor: 'rgb(255, 99, 132)',
      //     data: [0, 10, 5, 2, 20, 30, 45],
      //   }]
      // };

      // const config = {
      //   type: 'line',
      //   data: data,
      //   options: {}
      // };

      const myChart = new Chart(
          document.getElementById('myPaymentChart'),
          config
        );
        console.log(myChart);
</script>
