<div class="container mt-5">
  <div class="content p-2">
    <%= image_tag("animales_blender.png") %>
    <h1>The Blender</h1>
    <p style="font-size: 24px">Where the blend of tourism and microfinance happens.</p>
  </div>
</div>
