.card-profile {
  width: 75%;
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 16px 24px;
  img {
    border-radius: 200px;
  }
  h1, h2, h3 {
    padding: 8px 0px;
  }
}
