.navbar-theblender {
  justify-content: space-between;
  background: $blue;
  filter: drop-shadow(0 0 15px rgba(0,0,0,0.2));
}

.navbar-theblender .navbar-collapse {
  flex-grow: 0;
}

.navbar-theblender .navbar-brand img {
  width: 40px;
}
.nav-link {
  color: whitesmoke;
}
