.navbar-theblender {
  justify-content: space-between;
  background: $blue;
  filter: drop-shadow(2px 4px 8px #585858);

}

.navbar-theblender .navbar-collapse {
  flex-grow: 0;
}

.navbar-theblender .navbar-brand img {
  width: 40px;
}
.nav-link {
  color: white;
}
